<div>
  My Business Cards
  <table>
      <tr>
          <app-business-card></app-business-card>
      </tr>
      <tr>
      card 1
      <button>edit</button>
      <button>delete</button>
      </tr>
          <tr>
          card 1
          <button>edit</button>
          <button>delete</button>
      </tr>
          <tr>
          card 1
          <button>edit</button>
          <button>delete</button>
      </tr>
      <tr>
          card 1
          <button>edit</button>
          <button>delete</button>
      </tr>
  </table>
</div>